*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:15px 30px;
    font-size: 17px;
    padding:8px;
}
.container{
    background-color: #f2f2f2;
    padding:5px 20px 15px 20px;
    border:1 px solid lightgray;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width:100%;
    padding:12px;
    border-radius:5px;
    border-color:lightgray;
    margin:13px;
}
fieldset{
    background-color: #f2f2f2;
    border:1px solid #ccc;
}
.main_head{
    text-align: center;
}
input[type="submit"]{
    background-color:rgb(64, 193, 152);
    color:white;
    padding:12px 20px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}
input[type="submit"]:hover{
    background-color: rgb(134, 18, 105);
}